Fake News Detection Using Machine learning 

Steps to be followed
1. Importing libraries and datasets
2. Data Preprocessing 
3. Preprocessing and analysis of new column
4. Converting text into vector
5. Model traning , Evaluation and Prediction

In [25]:
import pandas as pd 
import seaborn as sns 
import matplotlib.pyplot as plt

In [26]:
data = pd.read_csv(r'C:\Users\dshah\OneDrive\Documents\Resumes\Resume_ML_Projects\Fake News Detection\News.csv')
data= data.drop(data.columns[-1], axis=1)

data

,Unnamed: 0,title,text,subject,date
0,0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"
...,...,...,...,...,...
44914,21412,'Fully committed' NATO backs new U.S. approach...,BRUSSELS (Reuters) - NATO allies on Tuesday we...,worldnews,"August 22, 2017"
44915,21413,LexisNexis withdrew two products from Chinese ...,"LONDON (Reuters) - LexisNexis, a provider of l...",worldnews,"August 22, 2017"
44916,21414,Minsk cultural hub becomes haven from authorities,MINSK (Reuters) - In the shadow of disused Sov...,worldnews,"August 22, 2017"
44917,21415,Vatican upbeat on possibility of Pope Francis ...,MOSCOW (Reuters) - Vatican Secretary of State ...,worldnews,"August 22, 2017"
44918,21416,Indonesia to buy $1.14 billion worth of Russia...,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,worldnews,"August 22, 2017"

In [27]:
data.shape

(44919, 5)

As the title , subject and date column will not going to be helpful in identification of the news. So, we can drop these columns

In [28]:
data = data.drop(["title","subject","date"], axis=1 )
data

       Unnamed: 0                                               text
0               0  Donald Trump just couldn t wish all Americans ...
1               1  House Intelligence Committee Chairman Devin Nu...
2               2  On Friday, it was revealed that former Milwauk...
3               3  On Christmas day, Donald Trump announced that ...
4               4  Pope Francis used his annual Christmas Day mes...
...           ...                                                ...
44914       21412  BRUSSELS (Reuters) - NATO allies on Tuesday we...
44915       21413  LONDON (Reuters) - LexisNexis, a provider of l...
44916       21414  MINSK (Reuters) - In the shadow of disused Sov...
44917       21415  MOSCOW (Reuters) - Vatican Secretary of State ...
44918       21416  JAKARTA (Reuters) - Indonesia will buy 11 Sukh...

[44919 rows x 2 columns]

In [29]:
data

       Unnamed: 0                                               text
0               0  Donald Trump just couldn t wish all Americans ...
1               1  House Intelligence Committee Chairman Devin Nu...
2               2  On Friday, it was revealed that former Milwauk...
3               3  On Christmas day, Donald Trump announced that ...
4               4  Pope Francis used his annual Christmas Day mes...
...           ...                                                ...
44914       21412  BRUSSELS (Reuters) - NATO allies on Tuesday we...
44915       21413  LONDON (Reuters) - LexisNexis, a provider of l...
44916       21414  MINSK (Reuters) - In the shadow of disused Sov...
44917       21415  MOSCOW (Reuters) - Vatican Secretary of State ...
44918       21416  JAKARTA (Reuters) - Indonesia will buy 11 Sukh...

[44919 rows x 2 columns]

In [30]:
data.isnull().sum()

Unnamed: 0    0
text          0
dtype: int64

So there is no null value.

Now we have to shuffle the dataset to prevent the model to get bias. After that we will reset the index and then drop it. Because index column is not useful to us.

In [ ]:
#Shuffing 
data=data.sample(frac=1)
data.reset_index(inplace=True)
data.drop(["index"],axis=1,inplace=True)